.login{
    border: 2px solid tomato;
    border-radius: 3%;
    padding: 5%;
    width: 25%;
    margin-left: 35%;
    margin-top: 10%;
    
}
mat-form-field{
    width: 100%;
}

button{
    float: right;
}